{
  "arrowParens": "avoid",
  "singleQuote": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.mts"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
